* {
  box-sizing: border-box;
}
/* html */
html {
  font-size: 62.5%;
}

:root {
  --header-bg: #10375c;
}
/* body */
body {
  font-size: 1.6rem;
  font-family: "sora", sans-serif;
}
/* common */
.container {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}

/* control btn */
.control {
  display: flex;
  column-gap: 18px;
  align-items: center;
}

.control__btn {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  border: 1px solid #575f66;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  transition: 0.5s;
}

.control__btn:hover {
  background: #2e80ce;
  border-color: #2e80ce;
  color: #fff;
}

.control-icon--next {
  rotate: 180deg;
}

.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 120%; /* 120% */
  letter-spacing: -1px;
}

.section-desc {
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 167%; /* 166.667% */
  margin-top: 18px;
}

.btn {
  display: inline-block;
  line-height: 60px;
  border-radius: 30px;
  background: #2e80ce;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  width: 205px;
}

.btn:hover {
  opacity: 0.8;
}

a {
  text-decoration: none;
}
/* ***************header*************** */

.header {
  background: var(--header-bg);
  min-height: 100vh;
  padding-top: 30px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
}

.header__action--login {
  color: #c9d2da;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 175%; /* 175% */
  padding: 8px 0;
}

.navbar__link--active,
.navbar__link {
  color: #c9d2da;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 175%; /* 175% */
  padding: 8px 0;
  margin-right: 42px;
}

.header__action--login:hover,
.navbar__link:hover,
.navbar__link--active {
  color: #fff;
  line-height: 175%; /* 175% */
  text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
  background: #fff;
  position: relative;
  right: 8px;
  top: -3px;
}

.header__action--signup {
  max-width: 104px;
  line-height: 44px;
  font-size: 1.6rem;
  margin-left: 28px;
  border-radius: 22px;
}

/* hero */
.hero {
  display: flex;
  align-items: center;
  padding-top: 76px;
}

.hero__content {
  width: 44%;
}

.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 114%; /* 114.286% */
  letter-spacing: -1.4px;
  width: 517px;
}

.hero__desc {
  color: #c9d2da;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 167%; /* 166.667% */
  margin: 22px 0 38px;
}

.hero__row {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 167%; /* 166.667% */
  display: flex;
  align-items: center;
  gap: 38px;
}

.hero__media {
  flex: 1;
}

.hero__img {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__img--large {
  width: 330px;
  height: 540px;
  border-radius: 6px;
  object-fit: cover;
  margin-right: -6px;
  z-index: 1;
}

.hero__img--small {
  width: 210px;
  height: 410px;
  border-radius: 0px 6px 6px 0px;
  object-fit: cover;
}
/* *******************service******************** */
.services {
  padding: 170px 0;
  background: #fff;
}

.services__desc,
.services__heading {
  text-align: center;
}

.services__desc {
  width: 468px;
  margin: 18px auto 0;
}

.services__row {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services__image {
  width: 570px;
  height: 570px;
  object-fit: cover;
  border-radius: 12px;
}

.services-item {
  display: flex;
  border-radius: 10px;
  background: #fff;
  width: 470px;
  padding: 21px;
  transition: 0.25s;
}

.services-item:hover {
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.services-item__icon {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 19px;
  transition: 0.25s;
}

.services-item:hover .services-item__icon {
  color: #fff;
  background: #2e80ce;
  box-shadow: 0px 8px 16px 0px rgba(40, 155, 222, 0.15);
}

.services-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
}

.services-item__desc {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 175%; /* 175% */
  margin-top: 8px;
}

.service__btn {
  margin-top: 55px;
}

/* *****************works*************** */
.works {
  background: #f6fbff;
  padding: 100px 0;
}

.works__desc {
  width: 468px;
}

.works__list {
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.works-item {
  padding: 43px;
  border-radius: 4px;
  background: #fff;
  border: 16px solid #eaf6ff;
  transition: 0.25s;
}

.works-item:hover {
  border-color: #2e80ce;
  transform: translateY(-16px);
  transition: 0.25s;
}

.works-item__heading {
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 138%; /* 138.462% */
  margin-top: 18px;
}

.works-item__desc {
  margin-top: 28px;
  color: #575f66;
  font-weight: 300;
  line-height: 175%; /* 175% */
}

.works-item__more {
  color: #2e80ce;
  font-weight: 400;
  line-height: 175%; /* 175% */
  margin-top: 18px;
  display: inline-block;
}

/* *************************about********************** */
.about {
  padding: 85px 0 206px;
  margin-top: 85px;
}

.about-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__media {
  width: 49%;
}

.about__img {
  position: relative;
}

.about__img--big {
  width: 512px;
  height: 370px;
  border-radius: 6px;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
  object-fit: cover;
  display: flex;
}

.about__img--small {
  width: 332px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
  position: absolute;
  top: 121px;
  left: 238px;
}

.about-content {
  width: 40%;
}

.about-content__btn {
  margin-top: 38px;
}

/* ***************team***************** */
.team {
  padding: 85px 0;
}

.team-header {
  text-align: center;
  margin: 0 auto;
}

.team__cta {
  margin-top: 38px;
}

.team__list {
  margin-top: 70px;
  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.team-img__thumb {
  height: 290px;
  max-width: 100%;
  object-fit: cover;
  display: block;
  transition: 0.5s;
}

.team-item:hover .team-img__thumb {
  transform: scale(1.1);
}

.team-item__img-bg {
  border-radius: 6px;
  background: #eaf6ff;
  padding-top: 28px;
  overflow: hidden;
}

.team-item__name {
  color: #10375c;
  text-align: center;
  font-weight: 400;
  line-height: 175%; /* 175% */
  margin-top: 12px;
}

.team-item__desc {
  color: #575f66;
  text-align: center;
  font-family: Sora;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 186%; /* 185.714% */
}

.team__control {
  margin-top: 38px;
  justify-content: center;
}

/* *****************install***************** */
.install__inner {
  border-radius: 4px;
  background: #2e80ce;
  height: 427px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  position: relative;
  margin: 180px 0 85px;
}

.install__img {
  width: 284px;
  height: 522px;
  object-fit: cover;
  position: absolute;
  bottom: 0;
}

.install__content {
  max-width: 586px;
}

.install__heading {
  min-width: 489px;
  color: #fff;
}

.install__desc {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 167%; /* 166.667% */
  margin-top: 18px;
  min-width: 586px;
}

.install__row {
  margin-top: 38px;
  display: flex;
  column-gap: 28px;
}
